<!DOCTYPE html>
<html>
    <head>
        <title> Form </title>
        <link rel = "stylesheet" href="C:\Users\Goswami\Desktop\digital-card-project\public\css\stylesheet-form.css"/>
    </head>
    <body>
       
<header >
    <div class = "logo" style = "float: left;">
       <p> <a href = "https://feedgroupindia.com">
        <img src = "https://feedgroupindia.com/images/logo.png" height = 55px alt="Logo">
        </a></p>
        <h3 style="float: none;">Feed Group India</h3>
    </div>
    
    <div class = "logout" style = "float:right;">
        <p><a href = "https://feedgroupindia.com/panel/login/login.php">
        <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/archive/8/8a/20180609204932%21OOjs_UI_icon_logOut-ltr.svg/120px-OOjs_UI_icon_logOut-ltr.svg.png" height= 45px>
    </a></p>
    </div>
</header>

<div class="content">
    <!-- </label>    
     -->
<form >
    <div class = "company-details" style="float: left;"> 
        <h2>Company Details</h2>
        Company Name : <input type="text" name="company-name"><br>
        Email-id : <input type="email" name="email-id"><br>
        Website : <input type="url" name="Website"><br>
        Address : <textarea name="address" rows="4" cols="50"></textarea>
    </div> 
<br>
    <div class = "personal-details" style="float: right;"> 
        <h2>Personal Details</h3>
        Name : <input type="text" name="name"><br>
        Mobile No. : <input type="tel" name="mobile-no"><br>
        Whatsapp No. : <input type="tel" name="whatapp-no"><br>
    </div>
    
    <br><br><br><br><br><br><br><br><br><br>

    <div class = "company-images" style="float: left;"> 
        <!-- Logo : <input type="file" name="Logo"> -->
        
<!-- changes start -->
<h4>Upload Logo :</h4>
<label class="filebutton">
    <!-- Browse for file! -->
    <img src="https://toppng.com/uploads/preview/file-upload-image-icon-115632290507ftgixivqp.png" height="150px">
    <span><input type="file" id="myfile" name="myfile"></span>
</label>

<!-- changes end -->

    </div>

    <br>
    
    <div class = "socialmedia-links" style="float: right;">
        <h2>Social Media Links</h3>
            Website : <input type="url" name="Website"><br>
            Instagram : <input type="url" name="Website"><br>
            Youtube : <input type="url" name="Website"><br>
            Linkedin : <input type="url" name="Website"><br>
            Github : <input type="url" name="Website"><br>
        

    </div>
    

    <br><br><br><br><br><br><br><br><br><br>

        
    <div class = "About-company" style="float: left;">
        <h2>About Company</h3>
            <textarea name="about-company" rows="7" cols="70"></textarea>
    </div>
    
    <br>
    
    <div class = "Youtube-links" style="float: right;">
        <h2>Youtube Links</h3>
            video title :<input type="text" name ="yt-title"><br>
           link : <input type="url" name = "yt-link">
    </div>
    
    <br><br><br><br><br><br><br><br>
    
    <div class = "upi-info" style="float: left;">
        <h2>UPI Info</h3>
            UPI Id : <input type="text" name="upi-id"><br>
            UPI No. : <input type="tel" name="upi-no"><br>
            QR Code : <br>
            <label class="filebutton">
                
                <img src="https://toppng.com/uploads/preview/file-upload-image-icon-115632290507ftgixivqp.png" height="150px">
                <span><input type="file" id="image6" name="image6"></span>
        </label>

    </div>
    
    <br>
    
    <div class = "bankaccount-details" style="float: right;">
        <h2>Bank Account Details</h3>
            Name : <input type="text" name="name><br>
            Account No. : <input type="number" name="a/c-no"><br>
            IFSC Code : <input type="text" name="ifsc-code"><br>
            Bank Name : <input type="text" name="bank-name"><br>
    </div>
    
    <br><br><br><br><br><br><br><br><br><br><br>

    <div class = "images" >
        <h2 style=" margin: 0 auto; width: 0px;">Images</h3>
        <br><br>
        
    
        <div class="image" style="float: left;" >
            <label class="filebutton">
                <img src="https://toppng.com/uploads/preview/file-upload-image-icon-115632290507ftgixivqp.png" height="150px">
                <span><input type="file" id="image1" name="image1"></span>
            </label><br>
            <input type="text" Name ="caption1">
        </div>
                
        <div class="image" style="float: left;">
            <label class="filebutton">
                    <img src="https://toppng.com/uploads/preview/file-upload-image-icon-115632290507ftgixivqp.png" height="150px">
                    <span><input type="file" id="image2" name="image2"></span>
            </label><br>
            <input type="text" Name ="caption2">
        </div>
    
        <div class="image"  style="float: left;">
            <label class="filebutton">
                    <img src="https://toppng.com/uploads/preview/file-upload-image-icon-115632290507ftgixivqp.png" height="150px">
                    <span><input type="file" id="image3" name="image3"></span>
            </label><br>
            <input type="text" Name ="caption3">
        </div>

        <div class="image" style="float: left;">
            <label class="filebutton">
                    <img src="https://toppng.com/uploads/preview/file-upload-image-icon-115632290507ftgixivqp.png" height="150px">
                    <span><input type="file" id="image4" name="image4"></span>
            </label><br>
            <input type="text" Name ="caption4">
        </div>

        <div class="image" style="float: left;">
            <label class="filebutton">
                    <img src="https://toppng.com/uploads/preview/file-upload-image-icon-115632290507ftgixivqp.png" height="150px">
                    <span><input type="file" id="image5" name="image5"></span>
            </label><br>
            <input type="text" Name ="caption5">
        </div>

        <div class="image" style="float: left;">
            <label class="filebutton">
                    <img src="https://toppng.com/uploads/preview/file-upload-image-icon-115632290507ftgixivqp.png" height="150px">
                    <span><input type="file" id="image6" name="image6"></span>
            </label><br>
            <input type="text" Name ="caption6">
        </div>
    </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="buttons" style="float:right">

        <button name="previous"><a href="choose-temp.html">Previous</a></button>       
        <input type="submit" name ="submit">
        <input type="reset" name ="reset">
    </div>

</div>



    <footer></footer>
    </body>
</html>