<html>
    <head>
        <title> User DashBoard</title>
        <link rel = "stylesheet" href="C:\Users\Goswami\Desktop\digital-card-project\public\css\stylesheet.css"/>
    </head>
    <body>
       
<header >
    <div class = "logo" style = "float: left;">
       <p> <a href = "https://feedgroupindia.com">
        <img src = "https://feedgroupindia.com/images/logo.png" height = 55px>
        </a></p>
        <h3 style="float: none;">Feed Group India</h3>
    </div>
    
    <div class = "logout" style = "float:right;">
        <p><a href = "C:\Users\Goswami\Desktop\digital-card-project\views\login.html">
        <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/archive/8/8a/20180609204932%21OOjs_UI_icon_logOut-ltr.svg/120px-OOjs_UI_icon_logOut-ltr.svg.png" height= 45px>
    </a></p>
    </div>
</header>

<div class="container">
    <h1> My Cards</h1>
    <br> <br> <br>
    <div class="card-liststyled__AddCardTile-app__sc-1u8hnf8-0 bQneHs">
        <a href="choose-temp.html">

            <svg stroke="currentColor" stroke-width="2" stroke-linecap="round" aria-hidden="true" focusable="false" viewBox="0 0 28 28"   class="svg-iconstyled__Svg-app__sc-1nwmz4s-0 jZgJqI" style="fill: none; height: 1em; overflow: visible; width: 1em;">
                <path d="M14 1.36841V26.6316"></path>
                <path d="M1.36816 14H26.6313"></path>
            </svg>
        </a>
        <a href="choose-temp.html">
            <span class="typography__Typography-app__sc-18nplck-0 card-liststyled__AddCardTitle-app__sc-1u8hnf8-1 QvJMe jREdMF mdc-typography--body1">
                Add Card
            </span>

        </a>
    </div>
    
</div>



    <footer></footer>
    </body>
</html>